#master-container {
  font-family: helvetica;
}
.container-fluid {
  padding: 0px;
}
.navbar {
  margin-bottom: 0;
}
a:hover {
  text-decoration: none;
}
ul.flash-messages {
  width: 100vw;
  color: #fff;
  margin-bottom: 0;
  list-style: none;
  text-align: center;
  padding: 10px;
  height: 40px;
  width: 100vw;
}
ul.flash-messages#error {
  background: #e04646;
}
ul.flash-messages#info {
  background: #05cc47;
}
.page-content {
  margin-left: 15px;
  margin-right: 15px;
  max-width: 1200px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}
.page-content #reviews-header,
.page-content #companies-header {
  font-family: 'Poiret One', cursive;
  text-align: center;
}
.page-content .company-box {
  border-bottom: 1px solid #808080;
  background: light-gray;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 25px 10px;
  overflow: hidden;
  clear: both;
}
.page-content .company-box #name {
  font-size: 18px;
  color: #1ca0de;
}
.page-content #clear-space {
  height: 25px;
  background: #fff;
}
.page-content .review-box {
  border-bottom: 1px solid #808080;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  overflow: hidden;
  clear: both;
}
.page-content .review-box #review-company-name {
  font-size: 18px;
  color: #1ca0de;
}
.page-content .review-box #questions,
.page-content .review-box #create-date {
  font-size: 10px;
}
.page-content .main-review {
  border-bottom: 1px solid #808080;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.page-content .main-review #review-rating {
  font-size: 18px;
  color: #1ca0de;
}
.page-content .main-review #create-date {
  font-size: 10px;
}
.page-content #review-tag-links {
  text-align: center;
}
.page-content #review-tag-links .review-tag {
  margin-right: 20px;
  color: #00f;
}
.page-content #trending-up-container {
  border: 1px solid #808080;
  padding: 15px;
  margin-bottom: 25px;
}
.page-content #trending-up-container #trending-up-header {
  color: #008000;
  text-align: center;
  font-family: 'Poiret One', cursive;
}
.page-content #trending-down-container {
  border: 1px solid #808080;
  padding: 15px;
  margin-bottom: 25px;
}
.page-content #trending-down-container #trending-down-header {
  color: #f00;
  text-align: center;
  font-family: 'Poiret One', cursive;
}
.jumbotron {
  background-color: #0ff;
  margin-bottom: 0;
  border-radius: none;
}
.jumbotron #jumbotron-header-main {
  text-align: center;
  font-size: 18;
  font-family: 'Poiret One', cursive;
}
.jumbotron #slogan {
  text-align: center;
  font-family: 'Poiret One', cursive;
}
.jumbotron #signup-container,
.jumbotron #login-container {
  width: 450px;
  margin: auto;
  border: 1px solid #808080;
  background: #fff;
  padding: 25px;
  text-align: center;
}
.jumbotron #signup-container #signup-header,
.jumbotron #login-container #signup-header,
.jumbotron #signup-container #login-header,
.jumbotron #login-container #login-header {
  text-align: center;
}
.jumbotron #signup-container input#first-name.form-control,
.jumbotron #login-container input#first-name.form-control,
.jumbotron #signup-container input#last-name.form-control,
.jumbotron #login-container input#last-name.form-control,
.jumbotron #signup-container input#email.form-control,
.jumbotron #login-container input#email.form-control,
.jumbotron #signup-container input#password.form-control,
.jumbotron #login-container input#password.form-control,
.jumbotron #signup-container input#password-confirm.form-control,
.jumbotron #login-container input#password-confirm.form-control {
  width: 400px;
  margin-bottom: 5px;
}
.jumbotron #signup-container a#signup-link,
.jumbotron #login-container a#signup-link,
.jumbotron #signup-container a#login-link,
.jumbotron #login-container a#login-link {
  font-size: 10px;
  color: #808080;
}
