#master-container {
  font-family: helvetica;
}
h1 {
  margin-bottom: 0.17em;
}
#rating-description {
  font-family: 'Helvetica', sans-serif;
  color: #808080;
  font-size: 14px;
  margin: 10px 0px 10px 0px;
}
#big-number {
  font-size: 56px;
}
#company-num-reviews {
  word-spacing: 8px;
}
.container-fluid {
  padding: 0px;
}
.navbar {
  margin-bottom: 0;
}
a:hover {
  text-decoration: none;
}
ul.flash-messages {
  transition: all 0.4s ease-in-out;
  width: 100vw;
  color: #fff;
  margin-bottom: 0;
  list-style: none;
  text-align: center;
  padding: 10px;
  height: 40px;
  width: 100vw;
}
ul.flash-messages#error {
  background: #e04646;
}
ul.flash-messages#info {
  background: #05cc47;
}
.page-content {
  margin-left: 15px;
  margin-right: 15px;
  max-width: 1200px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}
.page-content #reviews-header,
.page-content #companies-header {
  font-family: 'Poiret One', cursive;
  text-align: center;
}
.page-content .company-box {
  border-top: 1px solid #808080;
  background: light-gray;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 25px 10px;
  overflow: hidden;
  clear: both;
}
.page-content .company-box #name {
  font-size: 18px;
  color: #1ca0de;
}
.page-content #clear-space {
  height: 25px;
  background: #fff;
}
.page-content .review-box {
  border-top: 1px solid #808080;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  overflow: hidden;
  clear: both;
}
.page-content .review-box #review-company-name {
  font-size: 18px;
  color: #1ca0de;
}
.page-content .review-box #questions,
.page-content .review-box #create-date {
  font-size: 10px;
}
.page-content .main-review {
  border-top: 1px solid #808080;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.page-content .main-review #review-rating {
  font-size: 18px;
  color: #1ca0de;
}
.page-content .main-review #create-date {
  font-size: 10px;
}
.page-content #review-tag-links {
  text-align: center;
}
.page-content #review-tag-links .review-tag {
  margin-right: 20px;
  color: #00f;
}
.page-content #trending-up-container {
  border: 1px solid #808080;
  padding: 15px;
  margin-bottom: 25px;
}
.page-content #trending-up-container #trending-up-header {
  color: #008000;
  text-align: center;
  font-family: 'Poiret One', cursive;
}
.page-content #trending-down-container {
  border: 1px solid #808080;
  padding: 15px;
  margin-bottom: 25px;
}
.page-content #trending-down-container #trending-down-header {
  color: #f00;
  text-align: center;
  font-family: 'Poiret One', cursive;
}
.jumbotron {
  text-align: center;
  transition: all 0.4s ease-in-out;
  background-color: #0ff;
  margin-bottom: 0;
  border-radius: none;
}
.jumbotron a {
  color: #000;
}
.jumbotron #jumbotron-header-main {
  text-align: center;
  font-size: 18;
  font-family: 'Poiret One', cursive;
}
.jumbotron #slogan {
  text-align: 2s;
  font-family: 'Poiret One', cursive;
}
.jumbotron #write-a-review {
  text-align: center;
}
.jumbotron #write-a-review:hover {
  cursor: pointer;
}
.jumbotron #company-groups .company-group {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
}
.jumbotron #post-review {
  background: #fff;
  text-align: center;
  width: 700px;
  margin: auto;
}
#company-autoform {
  margin-top: 20px;
}
#slider-container {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  text-align: center;
}
#rating-input #company-input {
  width: 150px;
  margin: auto;
}
#rating-input #review-input {
  width: 500px;
  height: 200px;
  margin: auto;
}
#rating-input #tag-input.form-control {
  width: 50px !important;
  margin: auto;
}
#rating-input #reason-input {
  width: 250px;
  margin: auto;
}
#rating-input #featured {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
}
#company-name #company-rating,
#company-name #featured-company-name,
#company-name #featured-company-rating {
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
  font-family: 'Poiret One', cursive;
  margin-bottom: 10px;
  line-height: 34px;
}
