#master-container
	font-family: helvetica


.container-fluid
	padding: 0px
	
.navbar
	margin-bottom: 0


a:hover
	text-decoration: none

.page-content
	margin-left: 15px
	margin-right: 15px
	max-width:1200px
	margin: auto
	font-family: 'Open Sans', sans-serif;
	
	#reviews-header
	#companies-header
		font-family: 'Poiret One', cursive;
		text-align: center
		
	.company-box
		// height:250px
		border: 1px solid gray
		background: light-gray
		margin-top:10px
		margin-bottom:10px
		padding: 10px
		overflow: hidden
		clear: both

		
		#name
			font-size: 18px
			color: #1ca0de
	
	#clear-space
		height:25px
		background: white
		// padding-bottom:10px

	.review-box
		border-bottom: 1px solid gray
		margin-top:10px
		margin-bottom:10px
		padding: 10px
		overflow: hidden
		clear: both
		
		#review-company-name
			font-size: 18px
			color: #1ca0de
		
		#questions

		#create-date
			font-size:10px
	
	.main-review
		border-bottom: 1px solid gray
		margin-top:10px
		margin-bottom:10px
		padding: 10px
		
		#review-rating
			font-size: 18px
			color: #1ca0de

		#create-date
			font-size:10px	

.jumbotron
	background-color: pink
	margin-bottom:0
	border-radius:none

	#jumbotron-header-main
		text-align: center
		font-size: 18
		// font-family: 'Quicksand', sans-serif
		font-family: 'Poiret One', cursive

	#slogan
		text-align: center
		font-family: 'Poiret One', cursive
		
	#write-a-review
		text-align: center
		
		&:hover
			cursor:pointer
			
		
	#rating-input
	#company-input
		width:150px
	
	#review-input
		width: 500px
		height: 200px
	
	#reason-input
		width: 500px


	#featured
		text-align: center
		font-family: 'Quicksand', sans-serif
		font-size: 14px
	
	#company-name
	#company-rating
	#featured-company-name
	#featured-company-rating
		text-transform: uppercase
		font-size:32px
		text-align: center
		font-family: 'Poiret One', cursive
	
// .small-jumbotron
// 	background-color:yellow
// 	height: 200px

// #column1
// 	background-color: orange
// 	font-size: 14px
// 	color: white
