#master-container
	font-family: helvetica

h1 
	margin-bottom: .17em
		
#rating-description
	font-family: 'Helvetica', sans-serif
	color: gray
	font-size: 14px	
	margin: 10px 0px 10px 0px

#big-number
	font-size:56px

#company-num-reviews
	word-spacing: 8px

.container-fluid
	padding: 0px
	
.navbar
	margin-bottom: 0


a:hover
	text-decoration: none


ul.flash-messages
	transition: all .4s ease-in-out
	width:100vw
	color: white
	margin-bottom:0
	list-style: none
	text-align: center
	padding:10px
	height:40px
	width:100vw	

	&#error
		background: #e04646

	&#info
		background: #05cc47

		
.page-content
	margin-left: 15px
	margin-right: 15px
	max-width:1200px
	margin: auto
	font-family: 'Open Sans', sans-serif;
	
	#reviews-header
	#companies-header
		font-family: 'Poiret One', cursive;
		text-align: center
		
	.company-box
		// height:250px
		// border: 1px solid gray
		border-top: 1px solid gray
		background: light-gray
		margin-top:10px
		margin-bottom:10px
		padding: 10px 10px 25px 10px
		overflow: hidden
		clear: both

		
		#name
			font-size: 18px
			color: #1ca0de
	
	#clear-space
		height:25px
		background: white
		// padding-bottom:10px

	.review-box
		border-top: 1px solid gray
		margin-top:10px
		margin-bottom:10px
		padding: 10px
		overflow: hidden
		clear: both
		
		#review-company-name
			font-size: 18px
			color: #1ca0de
		
		#questions

		#create-date
			font-size:10px
	
	.main-review
		border-top: 1px solid gray
		margin-top:10px
		margin-bottom:10px
		padding: 10px
		
		#review-rating
			font-size: 18px
			color: #1ca0de

		#create-date
			font-size:10px	
			
	#review-tag-links
		text-align: center
		
		.review-tag
			margin-right: 20px
			color: blue
	
	#trending-up-container
		border: 1px solid gray
		padding: 15px
		margin-bottom: 25px

		#trending-up-header
			color: green
			text-align: center	
			font-family: 'Poiret One', cursive;

	#trending-down-container
		border: 1px solid gray
		padding: 15px
		margin-bottom: 25px
		
		#trending-down-header
			color: red
			text-align: center
			font-family: 'Poiret One', cursive;


.jumbotron
	text-align: center
	transition: all .4s ease-in-out
	background-color: cyan
	margin-bottom:0
	border-radius:none
	
	a 
		color: black

	#jumbotron-header-main
		text-align: center
		font-size: 18
		// font-family: 'Quicksand', sans-serif
		font-family: 'Poiret One', cursive

	#slogan
		text-align: 2s
		
		font-family: 'Poiret One', cursive
		
	#write-a-review
		text-align: center
		
		&:hover
			cursor:pointer
	
	#company-groups
		.company-group
			font-family: 'Quicksand', sans-serif
			font-size: 24px

	#post-review
		background: white
		text-align: center
		width: 700px
		margin: auto
		// padding-top: 25px
        // padding-left: 25px
	    // padding-right: 25px
    	// transition: width 2s 
    		
    	#company-autoform
			margin-top: 20px
		
		#slider-container
			margin-top: 25px
			margin-bottom: 25px
			// background-color: yellow !important
			width:100%
			text-align:center

		#rating-input
		#company-input
			width:150px
			margin: auto

		#review-input
			width: 500px
			height: 200px
			margin: auto

		#tag-input.form-control
			width: 50px !important
			margin: auto

		#reason-input
			width: 250px
			margin: auto

		#featured
			text-align: center
			font-family: 'Quicksand', sans-serif
			font-size: 14px	

			

	#company-name
	#company-rating
	#featured-company-name
	#featured-company-rating
		text-transform: uppercase
		font-size:32px
		text-align: center
		font-family: 'Poiret One', cursive
		margin-bottom:10px
		line-height:34px
	
// .small-jumbotron
// 	background-color:yellow
// 	height: 200px

// #column1
// 	background-color: orange
// 	font-size: 14px
// 	color: white
