{% extends "layouts/master.html" %}
<!-- { load filters } -->

{% block head_begin %}
{% endblock %}

{% block head_end %}
{% endblock %}

{% block content %}

<div class="jumbotron">
  <div class="jumbotron-information">
    <div id="company">
      <h1 id="jumbotron-header-main">{{ company.name }}</h1>
      {% if groups %}
        <div id="company-groups">
          {% for grp in groups %}
            <div class="company-group">{{ grp }}</div>
          {% endfor %}
        </div>
      {% endif %}
      <div id="company-rating">Accountability: {{ company.rating }}</div>
      <div id="company-description">{{ company.description }}</div>
    </div>
  </div>
</div>

<div class="page-content">
  <div class="row">
    <!-- <div id="column1" class="col-sm-6 col-md-4"> -->
    <div class="col-md-3" id="companies-column-left">

    </div>


    <div class="col-md-6" id="reviews-column-right">
    {% for review in reviews %}
      <div class="main-review">
        <div id="review-rating">{{ review.review_rating }} / 10</div>
        <div id="body">{{ review.body }}</div>
        <div id="reason">Reason for using: {{ review.reason }}</div>
        <div id="create-date">{{ review.create_date }}</div>
    </div>
    {% endfor %}
    </div>


    <div class="col-md-3" id="companies-column-left">

    </div>

  </div>

</div>




{% endblock %}