{% extends "layouts/master.html" %}
<!-- { load filters } -->

{% block head_begin %}
{% endblock %}

{% block head_end %}
{% endblock %}

{% block content %}

<div class="jumbotron">
  <div class="jumbotron-information">
    <p id="featured">Featured Company</p>
    <div id="featured-company">
      <h1 id="jumbotron-header-main">{{ featured_company.name }}</h1>
      <div id="featured-company-rating">{{ featured_company.get_rating_glyph|safe }}</div>
      <div id="company-num-reviews">reviewed <span id="big-number">{{ featured_num_reviews }}</span> times</div>
    </div>
  </div>
</div>

<div class="page-content">
  <div class="row">
    <!-- <div id="column1" class="col-sm-6 col-md-4"> -->
    <div class="col-md-3" id="companies-column-left">

    </div>


    <div class="col-md-6" id="reviews-column-right">
      <h2 id="companies-header">{{ group }}</h2>
      {% for company in companies %}
      <div class="company-box">
        <div id="name"><a href="/companies/{{ company.id }}">{{ company.name }}</a></div>
        <div id="rating">Rating: {{ company.get_rating_glyph|safe }}</div>
        <div id="description">{{ company.description }}</div>
      </div>
      {% endfor %}
    </div>


    <div class="col-md-3" id="companies-column-left">

    </div>

  </div>

</div>




{% endblock %}