{% extends "layouts/master.html" %}
<!-- { load filters } -->

{% block head_begin %}


{% endblock %}


{% block head_end %}
{% endblock %}

{% block content %}

<div class="jumbotron">

    <h1 id="jumbotron-header-main">SHOUT</h1>
    {% if user.is_authenticated %}
      <p id="write-a-review"><span id="slogan">make your voice count</span></p>
    {% else %}
      <a href="/login"><p id="slogan">make your voice count</p></a>
    {% endif %}

      <form class="form" id="post-review" hidden>
          <input id="company-autoform" placeholder="Company"></input>

          <div id="slider-container" style="margin-top:15px;text-align:center;">
            <div id="slider" style="width:300px;margin:auto;"></div>
            <div id="slider-img" style="width:300px;margin:auto;padding-top:15px;padding-bottom;25px;">
              <span class="glyphicon glyphicon-volume-up" aria-hidden="true" style="color: black;font-size:28px;"></span>
            </div>
            <div id="rating-input"></div>
          </div>
          </br>
          <div id="rating-description">neither good nor bad</div>

          <textarea type="review" class="form-control" id="review-input" placeholder="review here"></textarea>
          <input type="reason" class="form-control" id="reason-input" placeholder="why did you use this company?"></input>

          <select class="form-control" id="tag-input">
              <option disabled selected>Tag this message</option>
            {% for tag in review_tags %}
              <option value="{{ tag.name }}">{{ tag }}</option>
            {% endfor %}
          </select>

          <button type="button" class="btn btn-default" id="submit-review" onclick="hookup()">POST</button>
      </form>
</div>

<div class="page-content">
  <div class="row">
    <!-- <div id="column1" class="col-sm-6 col-md-4"> -->
    <div class="col-md-4" id="companies-column-left">
      <h1 id="companies-header">TRENDS</h1>
      <div id="trending-up-container">
        <h2 id="trending-up-header">on the rise</h2>
        {% for company in trending_up %}
        <div class="company-box">
          <a href="companies/{{ company.id }}" id="name">{{ company.name }}</a>
          <div id="rating">{{ company.get_rating_glyph|safe }}</div>
          <div id="description">{{ company.description }}</div>
        </div>
        <div id="clear-space">
        </div>
        {% endfor %}
      </div>

      <div id="trending-down-container">
        <h2 id="trending-down-header">on the fall...</h2>
        {% for company in trending_down %}
        <div class="company-box">
          <a href="companies/{{ company.id }}" id="name">{{ company.name }}</a>
          <div id="rating">{{ company.get_rating_glyph|safe }}</div>
          <div id="description">{{ company.description }}</div>
        </div>
        <div id="clear-space">
        </div>
        {% endfor %}
      </div>
    </div>


    <div class="col-md-8" id="reviews-column-right">
    <h1 id="reviews-header">REVIEWS</h1>

    <div id="review-tag-links">
    {% for review_tag in review_tags %}
      <span class="review-tag"><a href="/search/?search={{ review_tag.slug }}">{{ review_tag }}</a></span>
    {% endfor %}
    </div>

    {% for review in reviews %}
    <div class="review-box">
      <a href="companies/{{ review.company.id }}" id="review-company-name">{{ review.company.name }}</a> {{ review.get_user }}
      <div id="review-rating">{{ review.get_rating_glyph|safe }}</div>
      <div id="body">{{ review.body }}</div>
      <div id="reason">Reason for using: {{ review.reason }}</div>

      <div id="create-date">{{ review.create_date }}</div>
    </div>
    {% endfor %}
    </div>
  </div>


  <div class="row">

	</div>
</div>




<script>
  // slider functionality
    $( "#slider" ).slider({
      animate: "slow",
      min: -5,
      max: 5,
      step:1,
      orientation: "horizontal",
      value: "0",
      slide: function(event,ui) {
        showVolume(ui.value)
      }
    });

    $("#slider").on("slidechange", function(){
      var vv = $( "#slider" ).slider( "option", "value" );
      console.log(vv);
      showVolume(vv);
      $("#rating-input").attr("value", vv)
    });


    $(function() {
      $.get( "api/get_company_names/")
        .done(function(returnedData) {
          var cos = returnedData;
          console.log(cos)
          $( "#company-autoform" ).autocomplete({
            source: cos['companies']
          });
      });
    });
</script>

</div>

{% endblock %}

