{% extends "layouts/master.html" %}
<!-- { load filters } -->

{% block head_begin %}


{% endblock %}


{% block head_end %}
{% endblock %}

{% block content %}

<div class="jumbotron">
  <div class="jumbotron-information">
    <h1 id="jumbotron-header-main">SHOUT</h1>
    {% if user.is_authenticated %}
      <p id="write-a-review">write a review</p>
    {% else %}
      <a href="/login">write a review</a>
    {% endif %}

    <p>
      <form class="form" id="post-review" hidden>
        <div class="form-group">
            <select class="js-example-placeholder-multiple" id="company-input">
                <option disabled selected>Company</option>
                {% for c in companies %}
                  <option value="{{ c.name }}">{{ c.name }}</option>
                {% endfor %}
            </select>

          <!-- <input type="rating" class="form-control" id="rating-input" placeholder="rating"/> -->
            <select class="form-control" id="rating-input">
                <option disabled selected>Rating</option>
                {% for c in rating_range %}
                  <option value="{{ c }}">{{ c }}</option>
                {% endfor %}
            </select>

          <textarea type="review" class="form-control" id="review-input" placeholder="review here"></textarea>
          <input type="reason" class="form-control" id="reason-input" placeholder="why did you use this company?"/>

          <select class="form-control" id="tag-input">
              <option disabled selected>Tag this message</option>
            {% for tag in review_tags %}
              <option value="{{ tag.name }}">{{ tag }}</option>
            {% endfor %}
          </select>

          <button type="button" class="btn btn-default" id="submit-review" onclick="hookup()">POST</button>
        </div>
      </form>
    </p>
    <p id="slogan">make your voice count</p>
  </div>
</div>

<div class="page-content">
  <div class="row">
    <!-- <div id="column1" class="col-sm-6 col-md-4"> -->
    <div class="col-md-4" id="companies-column-left">
      <h1 id="companies-header">TRENDS</h1>
      <div id="trending-up-container">
        <h2 id="trending-up-header">on the rise</h2>
        {% for company in trending_up %}
        <div class="company-box">
          <a href="companies/{{ company.id }}" id="name">{{ company.name }}</a>
          <div id="rating">Rating: {{ company.rating }}/10</div>
          <div id="description">{{ company.description }}</div>
        </div>
        <div id="clear-space">
        </div>
        {% endfor %}
      </div>

      <div id="trending-down-container">
        <h2 id="trending-down-header">on the fall...</h2>
        {% for company in trending_down %}
        <div class="company-box">
          <a href="companies/{{ company.id }}" id="name">{{ company.name }}</a>
          <div id="rating">Rating: {{ company.rating }}/10</div>
          <div id="description">{{ company.description }}</div>
        </div>
        <div id="clear-space">
        </div>
        {% endfor %}
      </div>
    </div>


    <div class="col-md-8" id="reviews-column-right">
    <h1 id="reviews-header">REVIEWS</h1>

    <div id="review-tag-links">
    {% for review_tag in review_tags %}
      <span class="review-tag"><a href="/search/?search={{ review_tag.slug }}">{{ review_tag }}</a></span>
    {% endfor %}
    </div>

    {% for review in reviews %}
    <div class="review-box">
      <a href="companies/{{ review.company.id }}" id="review-company-name">{{ review.company.name }}</a> {{ review.get_user }}
      <div id="review-rating">{{ review.review_rating }} / 10</div>

      <div id="body">{{ review.body }}</div>
      <div id="reason">Reason for using: {{ review.reason }}</div>

      <div id="create-date">{{ review.create_date }}</div>
    </div>
    {% endfor %}
    </div>
  </div>


  <div class="row">

	</div>
</div>


<script>

  $('#column1').masonry({
    // options
    itemSelector: '.grid-item',
    columnWidth: 200
  });

</script>

</div>

{% endblock %}

