{% extends "layouts/master.html" %}
<!-- { load filters } -->

{% block head_begin %}
{% endblock %}

{% block head_end %}
{% endblock %}

{% block content %}

<h1></h1>
<div class="jumbotron">
    <h1 id="jumbotron-header-main">ayyyy {{ this_user.username }} <a href="#" id="newman" onclick="ya()">new</a></h1>
    <h2 id="shouter-score-header">
    	{% if shout_clout_score %}
	    	Shouter Score: <span id="shouter-score">{{ shout_clout_score }}</span>
    	{% else %}
	    	<span id="shouter-score">Shouter Score Unavailable</span>
    	{% endif %}
    </h2> 
	<div id="company-num-reviews"><span id="big-number">{{ reviews_count }}</span> reviews total, <span id="big-number">{{ positive_reviews_count }}</span> positive reviews, <span id="big-number">{{ negative_reviews_count }}</span> negative reviews</div>

</div>

<div id="new-review-post">
	<div id="yaya">
      <form class="form" id="post-review">
          <input id="company-autoform" placeholder="Company"></input>

          <div id="slider-container" style="margin-top:15px;text-align:center;">
            <div id="slider" style="width:300px;margin:auto;"></div>
            <div id="slider-img" style="width:300px;margin:auto;padding-top:15px;padding-bottom;25px;">
              <span class="glyphicon glyphicon-volume-up" aria-hidden="true" style="color: black;font-size:28px;"></span>
            </div>
            <div id="rating-input"></div>
          </div>
          </br>
          <div id="rating-description">neither good nor bad</div>

          <textarea type="review" class="form-control" id="review-input" placeholder="review here"></textarea>
          <input type="reason" class="form-control" id="reason-input" placeholder="why did you use this company?" hidden></input>

          <select class="form-control" id="tag-input" hidden>
              <option disabled selected>Tag this message</option>
            {% for tag in review_tags %}
              <option value="{{ tag.name }}">{{ tag }}</option>
            {% endfor %}
          </select>

          <button type="button" class="btn btn-default" id="submit-review" onclick="hookup()">POST</button>
      </form>

	</div>


</div>


<div class="page-content">
  <div class="row">
    <!-- <div id="column1" class="col-sm-6 col-md-4"> -->
    <div class="col-md-4" id="companies-column-left">
      <!-- <h1 id="companies-header">favorites!</h1> -->
      <div id="trending-up-container">
        <h2 id="trending-up-header">favorites!</h2>
		    <div id="fav-companies">
		    	{% for c,v in shouter_fav_companies.items %}
		    		Posted <span id="big-company">{{ v }}</span> times about <span id="big-company">{{ c }}</span><br>
		    	{% endfor %}
		    </div>
      </div>

      <div id="trending-down-container">
        <h2 id="trending-down-header">not so great favorites...</h2>
		    <div id="hated-companies">
		    	{% for c,v in shouter_hated_companies.items %}
		    		Posted <span id="big-company">{{ v }}</span> times about <span id="big-company">{{ c }}</span><br>
		    	{% endfor %}
		    </div>   
      </div>
    </div>


    <div class="col-md-8" id="reviews-column-right">
    <h1 id="reviews-header">REVIEWS</h1>

    {% for review in reviews %}
    <div class="review-box">
      <div id="review-box-header">
        <a href="companies/{{ review.company.id }}" id="review-company-name">{{ review.company.name }}</a> {{ review.get_user }}
        <div id="review-rating">
          {{ review.get_rating_glyph|safe }}
          {% for e in review.tags.all %}
            <span id="review-tag-specific">({{ e.name }})</span>
          {% endfor %}
        </div>
      </div>


      <div id="body">{{ review.body }}</div>
      <div id="reason">Reason for using: {{ review.reason }}</div>

      <div id="create-date">{{ review.create_date }}</div>
    </div>
    {% endfor %}
    </div>
  </div>


  <div class="row">

	</div>
</div>






<script>

// $("#newman").on('click', function() {

function ya() {
	$("#new-review-post").show();
}

$(document).keyup(function(e) {
	if (e.keyCode == 27) {
		$("#new-review-post").hide();
	}
})

</script>

</div>

{% endblock %}